---
layout: default
---


<!-- This is the Index Home Page -->

<!--         Masthead&ndash;&gt;-->
                {% include masthead.html %}
<!--         About Section&ndash;&gt;-->
            <section class="page-section portfolio" id="about">
                {% include about.html %}
            </section>
<!--         Portfolio Section&ndash;&gt;-->
            <section class="page-section portfolio" id="portfolio">
                {% include portfolio.html %}
            </section>
<!--         Contact Section&ndash;&gt;-->
            <section class="page-section" id="contact">
                {% include contact.html %}
            </section>